@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap');

// Variables
$black: #000000;
$white: #ffffff;
$green: #24D3B2;
$lightbg: #EEE7D6;
$yellow: #F7C945;
$grey: #F1EDE9;
$blue: #0E63F9;
$red: #CA324F;
$light-grey: #353639;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: $black;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



html,  body{
  font-family: 'Poppins', sans-serif;
}


// Basic layout
.container{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}
